*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#bannner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("veg.jpg");
    width:100%;
    height:40vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    }
    .ru{
        color:rgba(202, 91, 23, 1);
    }
